ul {
    list-style-type: none;
  }

  .toolbar img {
    width: 15%;
  }

  .content {
    margin: 0px auto;
    display: flex;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 24%;
    border-radius: 7px;
    border-width: thin;
    height: 35px;
    padding-left: 15px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

hr {
  width: 95%;
  border: 0;
  border-top: 1px solid #ebebeb;
}

.bottom-divider {
  border-top: 1px solid black;
  margin-bottom: -6px;
}

.search {
  margin: 12px;
}

.todaysDate {
  position:absolute;
  top:10px;
  left:10px;
}

button {
  border-radius: 10px;
  border: 1px solid #ebebeb;
      min-height: 30px;
    min-width: 120px
}

button:hover, button:active {
  background-color: #c6c2c2;
  cursor:pointer;
}

