<div class="toolbar center">
  <span class="todaysDate">
    {{ today | date:'longDate'}}
  </span>
  <img
    alt="New York Times Logo"
    src="../assets/images/logo.png"
  />
</div>

<hr id="top-divider">

<div class="search center">
    <input placeholder="Type a keyword" #searchInput (keyup.enter)="onSearch(searchInput.value)">
</div>

<hr class="bottom-divider">
<hr class="bottom-divider">

<ng-container *ngIf="news.length > 0" >
<div class="content">
  <ul>
    <li *ngFor="let article of news">
      <news-card [article]="article"></news-card>
      <hr>
    </li>
  </ul>
  <div>

  <div class="center">
 <ng-container *ngIf="!allLoaded; else nothingToLoad">
    <button (click)="loadMore()"> Load More Articles</button>
  </ng-container>
  <ng-template #nothingToLoad>
    <p> No more articles to load</p>
  </ng-template>
</div>
  </div>
</div>
</ng-container>

  <p *ngIf="isLoading" class="center"> Loading... </p>
  <p *ngIf="!isLoading && news.length == 0" class="center"> Nothing found </p>

<router-outlet></router-outlet>
